@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Http
@inject Microsoft.Extensions.Configuration.IConfiguration AppConfiguration
@inject Edurem.Services.IUserService UserService

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | @AppConfiguration["ApplicationName"]</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="/_content/MatBlazor/dist/matBlazor.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/blazor-site.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
</head>
<body>
    <app>
        <div class="sidebar">
            <component>@(await Html.RenderComponentAsync<Edurem.Components.NavMenu>(RenderMode.Server, new { ApplicationName = @AppConfiguration["ApplicationName"] }))</component>
        </div>

        <div class="main"> 
            <div class="top-row px-4" style="z-index: 99">
                <a class="nav-link text-dark" style="font-size: 20px" href="/account/home">
                    @($"{UserService.GetAuthenticatedUser(Context).Surname} {UserService.GetAuthenticatedUser(Context).Name}")
                </a>
            </div>
            <div class="content px-4">
                <div class="container">
                    <div class="row border-bottom">
                        <span class="h1 font-weight-bold" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            @ViewData["Title"]
                        </span>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </app>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="/_framework/blazor.server.js"></script>
    <script src="/_content/MatBlazor/dist/matBlazor.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
