@inject Edurem.Services.IMarkdownService MarkdownService;
@inject Edurem.Services.IFileService FileService;
@inject Edurem.Services.IGroupService GroupService;
@inject NavigationManager NavigationManager;
@inject IJSRuntime JsRuntime;
@inject IHttpClientFactory HttpFactory;
@using System.IO;
@using ColorCode;
@using Jering.Web.SyntaxHighlighters.Prism;
@using Blazored.TextEditor;

<form action="">
    <div class="row">
        <div class="col-12">
            <div class="row mt-2">
                <div class="col-6">
                    <input class="form-control" @onchange="e => PostTitle = e.Value.ToString()" style="font-size: 18px" placeholder="Название поста" />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <MatThemeProvider Theme="theme">
                        <MatTabGroup ActiveIndexChanged="TextEditorChanged">
                            @foreach (var editor in Editors)
                            {
                                <MatTab Label="@editor.Name">
                                </MatTab>
                            }
                        </MatTabGroup>
                    </MatThemeProvider>
                </div>
            </div>

            <div class="row mt-2" style="@(CurrentEditor.Equals(TextEditors.Markdown) ? "" : "display:none")">
                <div class="col-12">
                    <div class="row mt-2  mb-2">
                        <div class="col-3">
                            <select class="form-control" @onchange="e => Position = (MdPosition)Enum.Parse(typeof(MdPosition), e.Value.ToString())">
                                <option value="@MdPosition.COL" selected>В столбец</option>
                                <option value="@MdPosition.ROW">В строку</option>
                            </select>
                        </div>
                    </div>
                    @if (Position.Equals(MdPosition.COL))
                    {
                        <div class="row">
                            <div class="col-10">
                                <MatThemeProvider Theme="theme">
                                    <MatInputTextComponent Value="@(MarkdownText)" @oninput="MarkdownTextChanged" Outlined="true" Class="w-100" TextArea="true" Style="resize: none; height: 30vh">
                                    </MatInputTextComponent>
                                </MatThemeProvider>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-10 border">
                                @((MarkupString)MarkdownService.ToHtml(MarkdownText))
                                <!--<StardustDL.RazorComponents.Markdown.MarkdownRenderer Value="@MarkdownText" />-->
                            </div>
                        </div>
                    }
                    else if (Position.Equals(MdPosition.ROW))
                    {
                        <div class="row">
                            <div class="col-6">
                                <MatThemeProvider Theme="theme">
                                    <MatInputTextComponent Value="@MarkdownText" @oninput="MarkdownTextChanged" Outlined="true" Class="w-100" TextArea="true" Style="resize: none; height: 50vh">
                                    </MatInputTextComponent>
                                </MatThemeProvider>
                            </div>
                            <div class="col-6">
                                @((MarkupString)MarkdownService.ToHtml(MarkdownText))
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="row mt-2 mb-5" style="@(CurrentEditor.Equals(TextEditors.RichText) ? "" : "display:none")">
                <div class="col-10">
                    <BlazoredTextEditor @ref="@Editor">
                        <ToolbarContent>
                            <span class="ql-formats">
                                <select class="ql-font">
                                    <option selected=""></option>
                                    <option value="serif"></option>
                                    <option value="monospace"></option>
                                </select>
                                <select class="ql-header">
                                    <option selected="">Paragraph</option>
                                    <option value="5">Header 5</option>
                                    <option value="4">Header 4</option>
                                    <option value="3">Header 3</option>
                                    <option value="2">Header 2</option>
                                    <option value="1">Header 1</option>
                                </select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-strike"></button>
                            </span>
                            <span class="ql-formats">
                                <select class="ql-color"></select>
                                <select class="ql-background"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                                <button class="ql-indent" value="-1"></button>
                                <button class="ql-indent" value="+1"></button>
                                <select class="ql-align">
                                    <option selected=""></option>
                                    <option value="center"></option>
                                    <option value="right"></option>
                                    <option value="justify"></option>
                                </select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link"></button>
                            </span>
                        </ToolbarContent>
                        <EditorContent>
                        </EditorContent>
                    </BlazoredTextEditor>
                </div>
            </div>
            <div class="row mt-3 mb-2">
                <div class="col-12">
                    <MatThemeProvider Theme="theme">
                        <MatFileUpload Style="18px" Label="Выберите файлы или перетащите их сюда" Class="border" OnChange="FilesReadyForUpload" AllowMultiple="true"></MatFileUpload>
                    </MatThemeProvider>
                </div>
            </div>
            <div class="row mb-3">
                @foreach (var file in filesToUpload)
                {
                    <div class="col-2">
                        <div class="card">
                            <div class="card-body" style="padding-top: 5px">
                                <div class="row justify-content-end">
                                    <p style="font-size: 13px" class="mb-0">
                                        <a href="" @onclick="e => DeleteFile(file)" @onclick:preventDefault="true">X</a>
                                    </p>
                                </div>
                                <div class="row justify-content-center">
                                    <i style="font-size:35px" class="@GetExtensionClass(file.File.Name.Split(".").Last())"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <div class="row justify-content-center">
                                <p style="font-size: 14px" class="mb-0">
                                    <b>@file.File.Name</b>
                                </p>
                            </div>
                            <div class="row justify-content-center">
                                <p style="font-size: 11px" class="mb-0">
                                    @FileSizeToText(file.File.Size)
                                </p>
                            </div>
                        </div>
                    </div>
                }
                @foreach (var file in filesToPrepare)
                {
                    @if (file.IsUploaded) continue;
                    <div class="col-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        <MatThemeProvider Theme="theme">
                                            <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Medium" />
                                        </MatThemeProvider>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <div class="row justify-content-center">
                                <p style="font-size: 14px" class="mb-0">
                                    <b>@file.File.Name</b>
                                </p>
                            </div>
                            <div class="row justify-content-center">
                                <p style="font-size: 11px" class="mb-0">
                                    @FileSizeToText(file.File.Size)
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-3">
                    <button class="btn btn-primary" type="button" style="font-size: 18px" @onclick="e => Confirm()">Опубликовать</button>
                </div>
            </div>
        </div>
    </div>
</form>


@code {

    [Parameter]
    public User CurrentUser { get; set; }

    [Parameter]
    public Group Group { get; set; }

    MatTheme theme = new MatTheme
    {
        Primary = "#007bff", // Цвет кнопки
        Surface = "white" // Цвет фона диалогового окна
    };

    string PostTitle { get; set; }

    #region CUSTOM_TYPES

    enum TextEditors { Markdown, RichText };

    enum MdPosition { COVERED, ROW, COL };

    class FileToUpload
    {
        public IMatFileUploadEntry File { get; set; }

        public Stream Stream { get; set; }

        public bool IsUploaded { get; set; }
    }

    #endregion

    #region PROPERTIES

    MdPosition Position { get; set; }

    TextEditors CurrentEditor { get; set; }

    List<(TextEditors Type, string Name)> Editors { get; set; }

    BlazoredTextEditor Editor { get; set; }

    string MarkdownText { get; set; }

    List<FileToUpload> filesToUpload { get; set; }

    List<FileToUpload> filesToPrepare { get; set; }

    #endregion

    protected override void OnInitialized()
    {
        MarkdownText = string.Empty;

        filesToUpload = new();
        filesToPrepare = new();

        Position = MdPosition.COL;

        Editors = new()
        {
            (TextEditors.Markdown, "Markdown"),
            (TextEditors.RichText, "Rich Text")
        };

        CurrentEditor = Editors[0].Type;
    }

    string GetExtensionClass(string extension) => extension switch
    {
        "doc" or "docx" or "odt" => "far fa-file-word",
        "xls" or "xlsx" => "far fa-file-excel",
        "pdf" => "far fa-file-pdf",
        "txt" => "far fa-file-alt",
        "py" or "pyw" or "pyd" or "cs" or "cpp" or "php" or "html" or "css" => "far fa-file-code",
        "png" or "jpg" or "jpeg" or "gif" => "far fa-file-image",
        _ => "far fa-file"
    };

    void MarkdownTextChanged(ChangeEventArgs e)
    {
        MarkdownText = e.Value.ToString();
    }

    // Добавлены новые файлы
    async Task FilesReadyForUpload(IMatFileUploadEntry[] files)
    {
        // Добавляем файлы
        foreach (var file in files)
        {
            if (filesToUpload.FirstOrDefault(item => item.File.Name == file.Name) is not null ||
                filesToPrepare.FirstOrDefault(item => item.File.Name == file.Name) is not null) continue;

            var fileToUpload = new FileToUpload()
            {
                File = file,
                Stream = null,
                IsUploaded = false
            };

            filesToPrepare.Add(fileToUpload);
        }

        StateHasChanged();

        // Загружаем файлы в MemoryStream
        foreach (var file in filesToPrepare)
        {
            file.Stream = new MemoryStream();
            await file.File.WriteToStreamAsync(file.Stream);
            file.IsUploaded = true;
            filesToUpload.Add(file);

            StateHasChanged();
        }

        filesToPrepare = new();
        await JsRuntime.InvokeVoidAsync("clearInputFile");
    }

    void DeleteFile(FileToUpload fileToDelete)
    {
        filesToUpload.Remove(filesToUpload.First(file => file.Equals(fileToDelete)));
    }

    async Task Confirm()
    {
        // Модели файлов для связи с БД
        var fileModels = new List<FileModel>();
        foreach (var file in filesToUpload)
        {
            var filePath = Path.Combine("file_system\\users", CurrentUser.Id.ToString());

            try
            {
                // Загрузка файлов на сервер
                fileModels.Add(await FileService.UploadFile(file.Stream, filePath, $"{file.File.Name}"));
            }
            catch (Exception e)
            {
                Console.WriteLine(e.Message);
            }
        }

        if (!CurrentEditor.Equals(TextEditors.Markdown))
            await TextEditorChanged((int)TextEditors.Markdown);

        var html = MarkdownService.ToHtml(MarkdownText);

        var postModel = new PostModel()
        {
            AuthorId = CurrentUser.Id,
            PublicationDate = DateTime.Now,
            PostBody = html,
            Title = PostTitle
        };

        await GroupService.CreatePost(postModel, Group.Id, fileModels);

        NavigationManager.NavigateTo($"group/{Group.Id}", true);
    }

    async Task TextEditorChanged(int activeIndex)
    {
        // Тип выбранного редактора
        CurrentEditor = activeIndex == 0 ? TextEditors.Markdown : TextEditors.RichText;

        if (CurrentEditor.Equals(TextEditors.Markdown))
        {
            var html = await Editor.GetHTML();
            MarkdownText = MarkdownService.ToMarkdown(html);
        }
        else if (CurrentEditor.Equals(TextEditors.RichText))
        {
            var html = MarkdownService.ToHtml(MarkdownText);

            // Ожидаем, пока не будет создан Editor
            await Task.WhenAll(Task.Run(() => { while (Editor is null) ; }));

            try
            {
                // При первом вызове вызывается исключение, поэтому оборачиваем в
                // try catch и вызываем еще раз
                await Editor.LoadHTMLContent(html);
            }
            catch (Exception e)
            {
                Console.WriteLine(e.Message);
                await Editor.LoadHTMLContent(html);
            }
        }

    }

    string FileSizeToText(float size)
    {
        size = size / 1000;
        return $"{size.ToString("0.00")} Кб";
    }
}
